.media-body {
    margin: 10px 30px 50px 5px;
    color: white;
    font-family: 'Righteous', cursive;

}

.image {
    margin: 25px 30px;
}

.about {
    color: white;
    font-family: 'Fredericka the Great', cursive;
    margin: 20px 0px;
}