/* Train Tracker */

.card-img-train {
    height: 280px;
    width: 345px;
    margin-right: 69%;
    position: relative;
    top: 15px;
}
.card-img-newTrain {
    height: 280px;
    width: 310px;
    margin-left: 72%;
    position: relative;
    top: -265px;
}

.card-textTrain {
    padding-left: -10px;
    margin-left: 24%;
    margin-right: 32%;
    position: absolute;
    top: 44%;
    font-size: 20px;
    color: white;
}

.firebase {
    height: 400px;
}

/* Giphy */

.card-img-dak {
    height: 280px;
    width: 345px;
    margin-right: 69%;
    position: relative;
    top: 15px;
}
.card-img-todd {
    height: 280px;
    width: 310px;
    margin-left: 72%;
    position: relative;
    top: -265px;
}

.card-textGif {
    margin-left: 25%;
    margin-right: 32%;
    position: absolute;
    top: 98%;
    font-size: 20px;
    color: white;
}

.jQuery {
    height: 500px;
}

/* Liri */

.card-img-liri {
    height: 300px;
    width: 375px;
    margin-right: 67%;
    position: relative;
    top: 0px;
}
.card-img-lirii {
    height: 300px;
    width: 375px;
    margin-left: 67%;
    position: relative;
    top: -281px;
}

.card-textLiri {
    margin-left: 26%;
    margin-right: 36%;
    position: absolute;
    top: 163%;
    font-size: 20px;
    color: white;
}

.node {
    height: 525px;
}
/* Bamazon */

.card-img-cust {
    height: 300px;
    width: 375px;
    margin-right: 67%;
    position: relative;
    top: 0px;
}
.card-img-manager {
    height: 300px;
    width: 375px;
    margin-left: 67%;
    position: relative;
    top: -301px;
}

.card-textBam {
    margin-left: 27%;
    margin-right: 37%;
    position: absolute;
    top: 231%;
    font-size: 20px;
    color: white;
}

.nodebam {
    height: 600px;
}

/* Eat-Da-Burger */

.card-img-burger {
    height: 280px;
    width: 345px;
    margin-right: 69%;
    position: relative;
    top: 0px;
}
.card-img-eatenBurger {
    height: 280px;
    width: 310px;
    margin-left: 72%;
    position: relative;
    top: -281px;
}

.card-textBurger {
    margin-left: 25%;
    margin-right: 33%;
    position: absolute;
    top: 311%;
    font-size: 20px;
    color: white;
}

.handlebars {
    height: 525px;
}