/* Train Tracker */

.card-img-train {
    margin-right: 2%;
}

.card-img-newTrain {
    margin-left: 2%;
}

.card-textTrain {
    font-size: 20px;
    color: white;
}

.firebase {
    height: 500px;
}

/* Giphy */

.card-img-dak {
    margin-right: 2%;
}
.card-img-todd {
    margin-left: 2%;
}

.card-textGif {
    font-size: 20px;
    color: white;
}

.jQuery {
    height: 500px;
}

/* Liri */

.card-img-liri {
    margin-right: 2%;
}
.card-img-lirii {
    margin-left: 2%;
}

.card-textLiri {
    font-size: 20px;
    color: white;
}

.node {
    height: 525px;
}
/* Bamazon */

.card-img-cust {
    margin-right: 2%;
}
.card-img-manager {
    margin-left: 2%;
}

.card-textBam {
    font-size: 20px;
    color: white;
}

.nodebam {
    height: 600px;
}

/* Eat-Da-Burger */

.card-img-burger {
    margin-right: 2%;
    height: 350px;
}
.card-img-eatenBurger {
    margin-left: 2%;
    height: 350px;
}

.card-textBurger {
    font-size: 20px;
    color: white;
}

.handlebars {
    height: 525px;
}

.repo-link {
    color: white;
}

@media screen and (max-width: 1024px) {

    .card-img-burger {
        margin-right: 2%;
        height: 300px;
    }
    .card-img-eatenBurger {
        margin-left: 2%;
        height: 300px;
    }

}

@media screen and (max-width: 812px) {

    .card-img-burger {
        margin-right: 2%;
        height: 250px;
    }
    .card-img-eatenBurger {
        margin-left: 2%;
        height: 250px;
    }

}
