/* Who's Calling Me */

.card-img-callMe {
    margin-right: 2%;
}
.card-img-callingMe {
    margin-left: 2%;
}

.card-text-calling {
    font-size: 20px;
    color: white;
}

.projectOne {
    height: 600px;
}

/* Datebook */

.card-img-datebook {
    margin-left: 2%;
}
.card-img-datebooking {
    margin-right: 2%;
}

.card-text {
    font-size: 20px;
    color: white;
}

.projectTwo {
    height: 525px;
}

.desc {
    margin-bottom: 15px;
}

/* Mileage Tracker */

.card-img-tracker {
    margin-right: 2%;
}
.card-img-tracking {
    margin-left: 2%;
}

.cardTrackerText {
    font-size: 20px;
    color: white;
}

.projectThree {
    height: 600px;
}

h3 {
    color: white;
    font-family: 'Righteous', cursive;
    border-bottom: 2px snow solid;
    margin: 0px 32%;
}

.datebook {
 margin: 0px 37%;
}

.fire {
margin: 0px 35%;
}

.gify {
    margin: 0px 38%;
}

.liriii {
    margin: 0px 42%;
}

.bambam {
    margin: 0px 39%;
}