.Navbar {
    z-index: 5;
    background-color: #0b03b9;
    padding: 1%;
    position: fixed;
    top: 0;
    width: 100%
}

#menuLink1, .pure-menu-children {
    color: rgb(0, 255, 34);
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#name-centered{
    color: rgb(0, 255, 34);
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

.contactMe {
    margin-right: -500px;
    margin-left: 420px;
}





