.Navbar {
    z-index: 5;
    background-color: #273042;
    padding: 1%;
    position: fixed;
    top: 0;
    width: 100%
}

#menuLink1, .pure-menu-children {
    color: #01e1ff;
    /* padding: 5%; */
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

#name-centered{
    color: #01e1ff;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

.contactMe {
    margin-right: -500px;
    margin-left: 420px;
}





